# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.env
.env.*
!.env.example
dist
dist-ssr
dev-dist
*.local

# environment files
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.antigravitycli/ee3b58e9-7af7-4938-86c4-1201d3e8e5ec.json